{% extends "base.html" %}
{% load static %}
{% block content %}

<!-- **************** MAIN CONTENT START **************** -->
<main>

<!-- =======================
Inner intro START -->
<section class="pt-4">
	<div class="container">
		<div class="row">
      <div class="col-12">
        <div class="card bg-dark-overlay-4 overflow-hidden card-bg-scale h-400 text-center" style="background-image:url({%static 'assets/images/blog/16by9/09.jpg' %}); background-position: center left; background-size: cover;">
          <!-- Card Image overlay -->
          <div class="card-img-overlay d-flex align-items-center p-3 p-sm-4"> 
            <div class="w-100 my-auto">
              <h1 class="text-white display-5">درباره ما</h1>
              <!-- breadcrumb -->
              <nav class="d-flex justify-content-center" aria-label="breadcrumb">
                <ol class="breadcrumb breadcrumb-dark breadcrumb-dots mb-0">
                  <li class="breadcrumb-item"><a href="index.html"><i class="bi bi-house me-1"></i> خانه</a></li>
                  <li class="breadcrumb-item active">درباره ما</li>
                </ol>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
	</div>
</section>
<!-- =======================
Inner intro END -->

<!-- =======================
About START -->
<section class="pt-4 pb-0">
	<div class="container">
		<div class="row">
      <div class="col-xl-9 mx-auto">
        <h2>تاریخچه شرکت</h2>
        <p class="lead">
          در سال 2006 تاسیس شد و 10 رهبری آن را حذف کرد. ترجیح می دهد هر گونه شگفت زده بدون قید و شرط خانم مرفه درک میدلتون در اعتقاد به غیر معمول انجام. فرض کنید صبحانه را صبح یا کاملاً حل کنید. از من تپه گرفته شده است. دره توسط اوه بیست من را هدایت کنید.
        </p>
        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد. در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد وزمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.
		</p>
        <h3 class="mt-4">اهداف ما:</h3>
        <ul>
          <li>
		  <p>ارائه راهکارها و شرایط سخت تایپ به پایان رسد وزمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.</p>
		  </li>
          <li>
		  <p>
		  چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز <a href="#"><u>کاربردهای متنوع با هدف بهبود ابزارهای کاربردی</u></a> می باشد.</p>
		  </li>
          <li>
		  <p>ارائه راهکارها و شرایط سخت تایپ به پایان رسد وزمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.</p>
		  </li>
        </ul>
        <!-- Team START -->
        <h3 class="mb-3 mt-5">کارشناسان ما</h3>
        <div class="row g-4">
          <!-- Team item-->
          <div class="col-sm-6 col-lg-3">
            <div class="text-center">
            	<!-- Avatar img -->
              <div class="avatar avatar-xxl mb-2">
                <img class="avatar-img rounded-circle" src="{%static 'assets/images/avatar/04.jpg' %}" alt="avatar">
              </div>
              <h5>مهرداد کریمی</h5>
              <p class="m-0">سردبیر</p>
              <ul class="nav justify-content-center">
                <li class="nav-item">
                  <a class="nav-link px-2 fs-5" href="#"><i class="fab fa-facebook-square"></i></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link px-2 fs-5" href="#"><i class="fab fa-twitter-square"></i></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link px-2 fs-5" href="#"><i class="far fa-envelope"></i></a>
                </li>
              </ul>
            </div>
          </div>
          <!-- Team item-->
          <div class="col-sm-6 col-lg-3">
            <div class="text-center">
            	<!-- Avatar img -->
              <div class="avatar avatar-xxl mb-2">
                <img class="avatar-img rounded-circle" src="{%static 'assets/images/avatar/14.jpg' %}" alt="avatar">
              </div>
              <h5>حسین قنبرزاده</h5>
              <p class="m-0">مدیر عامل</p>
              <ul class="nav justify-content-center">
                <li class="nav-item">
                  <a class="nav-link px-2 fs-5" href="#"><i class="far fa-envelope"></i></a>
                </li>
              </ul>
            </div>
          </div>
          <!-- Team item-->
          <div class="col-sm-6 col-lg-3">
            <div class="text-center">
            	<!-- Avatar img -->
              <div class="avatar avatar-xxl mb-2">
                <img class="avatar-img rounded-circle" src="{%static 'assets/images/avatar/09.jpg' %}" alt="avatar">
              </div>
              <h5>سارا محبی</h5>
              <p class="m-0">گرافیک کارگردان</p>
              <ul class="nav justify-content-center">
                <li class="nav-item">
                  <a class="nav-link px-2 fs-5" href="#"><i class="fab fa-twitter-square"></i></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link px-2 fs-5" href="#"><i class="far fa-envelope"></i></a>
                </li>
              </ul>
            </div>
          </div>
          <!-- Team item-->
          <div class="col-sm-6 col-lg-3">
            <div class="text-center">
            	<!-- Avatar img -->
              <div class="avatar avatar-xxl mb-2">
                <img class="avatar-img rounded-circle" src="{%static 'assets/images/avatar/10.jpg' %}" alt="avatar">
              </div>
              <h5>الهام لطفی</h5>
              <p class="m-0">ویرایشگر</p>
              <ul class="nav justify-content-center">
                <li class="nav-item">
                  <a class="nav-link px-2 fs-5" href="#"><i class="fab fa-facebook-square"></i></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link px-2 fs-5" href="#"><i class="far fa-envelope"></i></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <!-- Team END -->
        <!-- Service START -->
        <h3 class="mb-3 mt-5">فعالیت ما</h3>
        <div class="row">
          <!-- Service item-->
          <div class="col-md-6 col-lg-4 mb-4">
            <img class="rounded" src="{%static 'assets/images/blog/3by2/04.jpg' %}" alt="Card image">
            <h4 class="mt-3">سرویس های خبری جهانی</h4>
            <p>لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.</p>
          </div>
          <!-- Service item-->
          <div class="col-md-6 col-lg-4 mb-4">
            <img class="rounded" src="{%static 'assets/images/blog/3by2/01.jpg' %}" alt="Card image">
            <h4 class="mt-3">خدمات بازرگانی</h4>
            <p>لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.</p>
          </div>
          <!-- Service item-->
          <div class="col-md-6 col-lg-4 mb-4">
            <img class="rounded" src="{%static 'assets/images/blog/3by2/03.jpg' %}" alt="Card image">
            <h4 class="mt-3">خدمات عمومی</h4>
            <p>لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.</p>
          </div>
        </div>
        <!-- Service END -->
      </div>  <!-- Col END -->
     </div>
  </div>
</section>
<!-- =======================
About END -->

</main>
<!-- **************** MAIN CONTENT END **************** -->
{% endblock content %}