{% extends "base.html" %}
{% load jformat %}
{% load static %}
{% block content %}
<!-- **************** MAIN CONTENT START **************** -->
<main>
<!-- Divider -->
<div class="border-bottom border-primary border-1 opacity-1"></div>

<!-- =======================
Inner intro START -->
<section class="pb-3 pb-lg-5">
	<div class="container">
		<div class="row">
			{% for cat in posts.category.all %}
			<div class="col-12">
        <a href="{% url "blog:category" cat_name=cat.name %}" class="badge text-bg-danger mb-2"><i class="fas fa-circle me-2 small fw-bold"></i>{{cat.name}}</a>
				<h1> {{posts.title}} </h1>
			</div>
			{% endfor %}
			 
		</div>
	</div>
</section>
<!-- =======================
Inner intro END -->

<!-- =======================
Main START -->
<section class="pt-0">
	<div class="container position-relative" data-sticky-container>
		<div class="row">
			<!-- Left sidebar START -->


			{% include "blog/author_right_single.html" %}



			<!-- Left sidebar END -->
			<!-- Main Content START -->
			<div class="col-lg-7 mb-5">
      	<p><span class="dropcap">M</span>ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.</p>
				<p>دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد. <a href="#" class="text-reset"><u>روزنامه فارس</u></a> شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد.</p>
				<!-- Image -->
				{{posts.content}}

				<!-- Divider -->
				<div class="text-center h5 mb-4">. . .</div>

				<h3>معرفی فرم ورک های برتر جهان</h3>
				<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد.</p>

				<div class="row g-0">
					<div class="col-sm-6 bg-primary bg-opacity-10 p-4 position-relative border-end border-1 rounded-start">
						<span><i class="bi bi-arrow-left me-3 rtl-flip"></i>خبر قبل</span>
						<h5 class="m-0"><a href="#" class="stretched-link btn-link text-reset">دلیل کاهش نرخ دلار</a></h5>
					</div>
					<div class="col-sm-6 bg-primary bg-opacity-10 p-4 position-relative text-sm-end rounded-end">
						<span>خبر بعد<i class="bi bi-arrow-right ms-3 rtl-flip"></i></span>
						<h5 class="m-0"><a href="#" class="stretched-link btn-link text-reset">جدول لیگ در پایان هفته</a></h5>
					</div>
				</div>

				<!-- Related post START -->
				<div class="mt-5">
					<h3 class="my-3"><i class="bi bi-symmetry-vertical me-2"></i>اخبار مشابه</h3>
					<div class="tiny-slider arrow-hover arrow-blur arrow-white arrow-round">
						<div class="tiny-slider-inner"
							data-autoplay="true"
							data-hoverpause="true"
							data-gutter="24"
							data-arrow="true"
							data-dots="false"
							data-items-xl="2" 
							data-items-xs="1">

							<!-- Card item START -->
							<div class="card">
								<!-- Card img -->
								<div class="position-relative">
									<img class="card-img" src="{%static 'assets/images/blog/4by3/07.jpg' %}" alt="Card image">
									<div class="card-img-overlay d-flex align-items-start flex-column p-3">
										<!-- Card overlay Top -->
										<div class="w-100 mb-auto d-flex justify-content-end">
											<div class="text-end ms-auto">
												<!-- Card format icon -->
												<div class="icon-md bg-white bg-opacity-10 bg-blur text-white fw-bold rounded-circle" title="8.5 rating">8.5</div>
											</div>
										</div>
										<!-- Card overlay bottom -->
										<div class="w-100 mt-auto">
											<a href="#" class="badge text-bg-info mb-2"><i class="fas fa-circle me-2 small fw-bold"></i>سیاست</a>
										</div>
									</div>
								</div>
								<div class="card-body px-0 pt-3">
									<h5 class="card-title"><a href="post-single-2.html" class="btn-link text-reset stretched-link">طرح مجلس برای گرفتن مالیات از سفته بازها</a></h5>
									<!-- Card info -->
									<ul class="nav nav-divider align-items-center d-none d-sm-inline-block">
										<li class="nav-item">
											<div class="nav-link">
												<div class="d-flex align-items-center position-relative">
													<div class="avatar avatar-xs">
														<img class="avatar-img rounded-circle" src="{%static 'assets/images/avatar/07.jpg' %}" alt="avatar">
													</div>
													<span class="ms-3">با <a href="#" class="stretched-link text-reset btn-link">مریم ترابی</a></span>
												</div>
											</div>
										</li>
										<li class="nav-item">7 دی، 1400</li>
									</ul>
								</div>
							</div>
							<!-- Card item END -->
							<!-- Card item START -->
							<div class="card">
								<!-- Card img -->
								<div class="position-relative">
									<img class="card-img" src="{%static 'assets/images/blog/4by3/08.jpg' %}" alt="Card image">
									<div class="card-img-overlay d-flex align-items-start flex-column p-3">
										<!-- Card overlay bottom -->
										<div class="w-100 mt-auto">
											<a href="#" class="badge text-bg-danger mb-2"><i class="fas fa-circle me-2 small fw-bold"></i>ورزش</a>
										</div>
									</div>
								</div>
								<div class="card-body px-0 pt-3">
									<h5 class="card-title"><a href="post-single-2.html" class="btn-link text-reset stretched-link">آمار فرزندان حاصل از روش‌های کمک‌ باروری</a></h5>
									<!-- Card info -->
									<ul class="nav nav-divider align-items-center d-none d-sm-inline-block">
										<li class="nav-item">
											<div class="nav-link">
												<div class="d-flex align-items-center position-relative">
													<div class="avatar avatar-xs">
														<img class="avatar-img rounded-circle" src="{%static 'assets/images/avatar/08.jpg' %}" alt="avatar">
													</div>
													<span class="ms-3">با <a href="#" class="stretched-link text-reset btn-link">سارا موحد</a></span>
												</div>
											</div>
										</li>
										<li class="nav-item">15 مهر، 1400</li>
									</ul>
								</div>
							</div>
							<!-- Card item END -->
							<!-- Card item START -->
							<div class="card">
								<!-- Card img -->
								<div class="position-relative">
									<img class="card-img" src="{%static 'assets/images/blog/4by3/09.jpg' %}" alt="Card image">
									<div class="card-img-overlay d-flex align-items-start flex-column p-3">
										<!-- Card overlay bottom -->
										<div class="w-100 mt-auto">
											<a href="#" class="badge text-bg-success mb-2"><i class="fas fa-circle me-2 small fw-bold"></i>اقتصاد</a>
										</div>
									</div>
								</div>
								<div class="card-body px-0 pt-3">
									<h5 class="card-title"><a href="post-single-2.html" class="btn-link text-reset stretched-link">سال 2022 رویایی و فوق العاده برای طارمی</a></h5>
									<!-- Card info -->
									<ul class="nav nav-divider align-items-center d-none d-sm-inline-block">
										<li class="nav-item">
											<div class="nav-link">
												<div class="d-flex align-items-center position-relative">
													<div class="avatar avatar-xs">
														<img class="avatar-img rounded-circle" src="{%static 'assets/images/avatar/09.jpg' %}" alt="avatar">
													</div>
													<span class="ms-3">با <a href="#" class="stretched-link text-reset btn-link">لیلا رزاق</a></span>
												</div>
											</div>
										</li>
										<li class="nav-item">1 تیر، 1400</li>
									</ul>
								</div>
							</div>
							<!-- Card item END -->
						</div>
					</div> <!-- Slider END -->
				</div>
				<!-- Related post END -->

				<!-- Divider -->
				<hr>

				<!-- Author info START -->
				<div class="d-flex py-4">
					<!-- Avatar -->
					<a href="#">
						<div class="avatar avatar-xxl me-4">
							<img class="avatar-img rounded-circle" src="{%static 'assets/images/avatar/03.jpg' %}" alt="avatar">
						</div>
					</a>
					<!-- Info -->
					<div>
						<div class="d-sm-flex align-items-center justify-content-between">
							<div>
								<h4 class="m-0"><a href="#" class="text-reset">روزنامه نگار</a></h4>
								<small>روزنامه نگار سایت Blogzine</small>
							</div>
							<a href="#" class="btn btn-xs btn-primary-soft">مشاهده اخبار</a>
						</div>
						<p class="my-2">مهدی علیزاده سردبیر ارشد این وبلاگ است و همچنین اخبار فوری مستقر در لندن را گزارش می دهد. او از سال 2015 درباره دولت، عدالت کیفری و نقش پول در سیاست نوشته است.</p>
						<!-- Social icons -->
						<ul class="nav">
							<li class="nav-item">
								<a class="nav-link ps-0 pe-2 fs-5" href="#"><i class="fab fa-facebook-square"></i></a>
							</li>
							<li class="nav-item">
								<a class="nav-link px-2 fs-5" href="#"><i class="fab fa-twitter-square"></i></a>
							</li>
							<li class="nav-item">
								<a class="nav-link px-2 fs-5" href="#"><i class="fab fa-linkedin"></i></a>
							</li>
						</ul>					
					</div>
				</div>
				<!-- Author info END -->

				<!-- Divider -->
				<hr>

				<!-- Comments START -->
				<div>
					<h3>5 دیدگاه</h3>
					<!-- Comment level 1-->
					<div class="my-4 d-flex">
					  <img class="avatar avatar-md rounded-circle float-start me-3" src="{%static 'assets/images/avatar/01.jpg' %}" alt="avatar">
					  <div>
					    <div class="mb-2">
					    	<h5 class="m-0">شادی اسدی</h5>
					    	<span class="me-3 small">21 خرداد، 1400 در 3:00 بعد از ظهر </span>
					    	<a href="#" class="text-body fw-normal">پاسخ</a>
					    </div>
					    <p>سایهٔ نیرومندی و ثروت خیال می‌ کنند که می‌توانند در خارج از وطن خود زندگی نمایند و خوشبخت و سرافراز باشند ولی به زودی می‌ فهمند که اشتباه کرده‌ اند و عظمت هر ملتی بر روی خرابه‌ های وطن خودش می‌باشد و بس!</p>
					  </div>
					</div>
						<!-- Comment children level 2 -->
						<div class="my-4 d-flex ps-2 ps-md-3">
						  <img class="avatar avatar-md rounded-circle float-start me-3" src="{%static 'assets/images/avatar/02.jpg' %}" alt="avatar">
						  <div>
						    <div class="mb-2">
						    	<h5 class="m-0">علی قنبرزاده</h5>
						    	<span class="me-3 small">21 خرداد، 1400 در 3:00 بعد از ظهر </span>
						    	<a href="#" class="text-body fw-normal">پاسخ</a>
						    </div>
						    <p>وقتی ثروت‌ های بزرگ به دست برخی مردم می‌افتد در پرتو آن نیرومند می‌شوند و در سایهٔ نیرومندی و ثروت خیال می‌ کنند که می‌توانند در خارج از وطن خود زندگی نمایند و خوشبخت و سرافراز باشند.</p>
						  </div>
						</div>
							<!-- Comment children level 3 -->
							<div class="my-4 d-flex ps-3 ps-md-5">
							  <img class="avatar avatar-md rounded-circle float-start me-3" src="{%static 'assets/images/avatar/01.jpg' %}" alt="avatar">
							  <div>
							    <div class="mb-2">
							    	<h5 class="m-0">مونا شاه حسینی</h5>
							    	<span class="me-3 small">21 خرداد، 1400 در 3:00 بعد از ظهر</span>
							    	<a href="#" class="text-body fw-normal">پاسخ</a>
							    </div>
							    <p>در نهایت این مرگ است که باید پیروز شود، زیرا از هنگام تولد بخشی از سرنوشت ما شده و فقط مدت کوتاهی پیش از بلعیدن طعمه اش، با آن بازی می کند.</p>
							  </div>
							</div>
						<!-- Comment level 2 -->
						<div class="my-4 d-flex ps-2 ps-md-3">
						  <img class="avatar avatar-md rounded-circle float-start me-3" src="{%static 'assets/images/avatar/03.jpg' %}" alt="avatar">
						  <div>
						    <div class="mb-2">
						    	<h5 class="m-0">مهرداد نوری</h5>
						    	<span class="me-3 small">21 خرداد، 1400 در 3:00 بعد از ظهر</span>
						    	<a href="#" class="text-body fw-normal">پاسخ</a>
						    </div>
						    <p>همان‌ طور که تا آنجا که ممکن است طولانی‌ تر در یک حباب صابون می‌ دمیم تا بزرگتر شود!</p>
						  </div>
						</div>
					<!-- Comment level 1 -->
					<div class="my-4 d-flex">
					  <img class="avatar avatar-md rounded-circle float-start me-3" src="{%static 'assets/images/avatar/04.jpg' %}" alt="avatar">
					  <div>
					    <div class="mb-2">
					    	<h5 class="m-0">رضا کریمی</h5>
					    	<span class="me-3 small">21 خرداد، 1400 در 3:00 بعد از ظهر </span>
					    	<a href="#" class="text-body fw-normal">پاسخ</a>
					    </div>
					    <p>ما تا آنجا که ممکن است، با علاقه فراوان و دلواپسی زیاد به زندگی ادامه می دهیم، همان‌ طور که تا آنجا که ممکن است طولانی‌ تر در یک حباب صابون می‌ دمیم تا بزرگتر شود، گر چه با قطعیتی تمام می‌ دانیم که خواهد ترکید.</p>
					  </div>
					</div>

				</div>
				<!-- Comments END -->
				<!-- Reply START -->
				<div>
					<h3>ثبت دیدگاه</h3>
					<small>آدرس ایمیل شما منتشر نخواهد شد. فیلدهای الزامی علامت گذاری شده اند *</small>
					<form class="row g-3 mt-2">
					  <div class="col-md-6">
					    <label class="form-label">نام *</label>
					    <input type="text" class="form-control" aria-label="First name">
					  </div>
					  <div class="col-md-6">
					    <label class="form-label">ایمیل *</label>
					    <input type="email" class="form-control">
					  </div>
					  <!-- custom checkbox -->
						<div class="col-md-12">
							<div class="form-check">
							  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
							  <label class="form-check-label" for="flexCheckDefault">برای دفعه بعد که نظر دادم نام و ایمیل من را در این مرورگر ذخیره شود.</label>
							</div>
						</div>
					  <div class="col-12">
					    <label class="form-label">متن دیدگاه *</label>
					  	<textarea class="form-control" rows="3"></textarea>
					  </div>
					  <div class="col-12">
					    <button type="submit" class="btn btn-primary">ثبت</button>
					  </div>
					</form>
				</div>
				<!-- Reply END -->
			</div>
			<!-- Main Content END -->
			
			<!-- Right sidebar START -->
			<div class="col-lg-3">
				<div data-sticky data-margin-top="80" data-sticky-for="991">
	      	<h4>اشتراک گذاری</h4>
					<ul class="nav text-white-force">
						<li class="nav-item">
							<a class="nav-link icon-md rounded-circle me-2 mb-2 p-0 fs-5 bg-facebook" href="#">
								<i class="fab fa-facebook-square align-middle"></i>
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link icon-md rounded-circle me-2 mb-2 p-0 fs-5 bg-twitter" href="#">
								<i class="fab fa-twitter-square align-middle"></i>
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link icon-md rounded-circle me-2 mb-2 p-0 fs-5 bg-linkedin" href="#">
								<i class="fab fa-linkedin align-middle"></i>
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link icon-md rounded-circle me-2 mb-2 p-0 fs-5 bg-pinterest" href="#">
								<i class="fab fa-pinterest align-middle"></i>
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link icon-md rounded-circle me-2 mb-2 p-0 fs-5 bg-primary" href="#">
								<i class="far fa-envelope align-middle"></i>
							</a>
						</li>
					</ul>
					<!-- Advertisement -->
					{% include "blog/ads_left_all.html" %}
				</div>
			</div>
			<!-- Right sidebar END -->
		</div>
	</div>
</section>
{% endblock content %}